a:link {color:#000000; text-decoration:none;}      /* unvisited link */
a:visited {color:#000000; text-decoration:none;}  /* visited link */
a:hover {color:#000000; text-decoration:underline;}  /* mouse over link */
a:active {color:#000000; text-decoration:underline;}  /* selected link */
*{
    margin:0;

}
/*
div {
    border: 1px dashed #000000;

}
div div{
    border: 1px dotted blue;
}
div div div{
    border: 1px solid red;
}
*/
ul, li{
    list-style:none;
    list-style-type:none;
    margin:0;
    padding:0;
}
li:nth-child(2n){
    background:#6C8AD5;
}

#title{

    padding:20px 100px 0 100px;
}
#title h1{
    font-family:"Georgia", serif;
    font-size:60px;
}

#title p{
    padding-left: 30px;
    font-style:italic;
}



#content{
    margin:10px 100px 0 100px;
}



.list_container{
    margin:0px 0px 50px 0px;

}

.head_wrapper{
    text-align: center;
    vertical-align: middle;
    padding:20px;
    border:2px solid black;
    background:#466FD5;


    background: -webkit-linear-gradient(left top, #123EAB , #466FD5); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, #123EAB, #466FD5); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, #123EAB, #466FD5); /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, #123EAB , #466FD5); /* Standard syntax */

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}


.head_title{

    width:80%;
    float:left;
    font-size:40px;

    }

.head_actions{
    width:10%;
    height:50px;
    float:right;
}

.body_wrapper{
    border:1px solid black;

    -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}



.device_wrapper{
    padding-top:5px;
    padding-bottom:5px;
}

.device_link{
    width: 80%;
    float:left;
    word-wrap: break-word;
    font-family:"Georgia", serif;
    font-size:30px;
    height:30px;


}
.action_panel{
    width:10%;
    float:right;

}


.clear_both{
    clear:both;

}
